body{
margin: 0;
}

li{
 list-style: none;
}

a {
 color: #696969;
 text-decoration: none;
 transition: 0.3s;
}


header{
	height: 50px;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #b3aeb5;
	position: fixed;  
  top: 0px;
  left: 0px;
  z-index: 10;

}

.header-left{
	float: left;
	padding-left: 90px;
	padding-top: 10px;
  color: #696969;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.8s;
  font-family: 'Tahoma';
}


.header-left:hover{
	color: #00ced1;
}

.header-right{
  margin-top: 15px;
	float: right;
	padding-right: 60px;
	line-height: 20px;
	margin-right: 40px;
 }

.header-right li{
	float: left; 
	padding-right: 20px;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    
}

.header-right a:hover{
	color: #00ced1;
	}

.top-wrapper{
	background-image: url(images/backgrounds/top.jpg);
	background-size: cover;
	height: 550px;
  text-align: center;
  position: relative;
  color: white;
}

.background{
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0,0,0,0.6);
}

.message h3{
	padding-top: 175px;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 20px;
    z-index: 2;
}

.message p{
    font-size: 18px;
    margin-bottom: 50px;
    z-index: 2;
}

.btn-more{
	  color: white;
    background-color: rgba(80,80,80,0.5);
    padding: 10px 13px;
    width: 130px;
    margin-left: 600px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid rgba(130,130,130,0.5);
    transition: 0.8s;
}

.btn-more:hover{
    border: 1px solid white;
}

.btn-more-message{
    width: 1170px;
    padding-top: 20px;
    padding-left: 90px;
    display: none;
}

.btn-more-message p{
   font-size: 14px
}

.language{
    height: 740px;
    text-align: center;
    padding-top: 15px;
}

.language img{
    margin-bottom: 10px
}

.language-head{
  margin-top: -50px;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #696969;
  font-weight: bold;
  font-size: 30px;
}

.language-title{
  font-size: 20px;
  margin-bottom: 20px;
}
.language-mean{
  font-size: 15px;
  color: #696969;
  width: 370px;
}
.html{
     float: left;
     padding-left: 180px;
  }	

.js{
	   float: left;
	   padding-left: 30px;	
        }

.jquery{
    float: left;
    padding-left: 180px;
    padding-top: 50px;
    
   }
.git{
	float: left;
	padding-left: 30px;
	padding-top: 50px;
    }

.future{
   padding-top: 15px;
}

.future-head{
	background-color: #f7f7f7;
	height: 350px;
  margin-top: -50px;
	margin-top: 30px;
  padding-top: 30px;
	text-align: center;
  color: #696969;
  font-weight: bold;
  font-size: 30px;
}

.future-head img{
     padding-top: 30px;
}
.future-txtcontents{
	background-color: white;
	height: 400px;
  
}
.future-txtcontents p{
  color:#696969;
}
.future-text{
  font-size: 16px;
  margin-bottom: 5px;
}

.fast{
   float: left;
   padding-top: 120px;
   padding-left: 160px;
   width: 630px;
}

.second{
   float: left;
   padding-left: 80px;
   padding-top: 120px;
   width: 560px;
}

.third{
   float: left;
   padding-top: 60px;
   padding-left: 160px;
   width: 630px;
 }

.fourth{
   float: left;
   padding-left: 80px;
   padding-top: 60px;
   width: 560px;
}

.course-wrapper{
  padding-top: 15px;
}

.course{
	background-color: #f7f7f7;
	height: 880px;
	text-align: center;
  margin-top: -50px;
  margin-top: 30px;
  padding-top: 30px;
}

.course h2{
	padding-bottom: 40px;	
}

.course li{
	padding: 20px 0px;
	border-bottom: 1px solid #b3aeb5;
}

.plan{
  background-color: #1f3134;
  width: 310px;
  height: 120px;
  margin-top: 30px;
  display: inline-block;
  
}
.plan h2{
  color: white;
  padding-top: 30px;
}

.money{
 background-color: #f7f7f7;
 width: 310px;
 height: 120px;
 display: inline-block;
}

.money h2{
   padding-top: 30px;
}

.course-list{
   display: inline-block;
   padding: 20px 50px 30px 0px;
   margin-top: 10px;
   width: 350px;
 
}

.course-btn{
   padding: 6px 20px;
   background-color: #1f3134;
   display: inline-block;
   opacity: 0.9;
   transition: 0.5s;
   cursor: pointer;
}

.course-btn:hover{
	opacity: 0.8;
}

.course-btn h4{
   font-weight: 900; 
   color: white;
}

.week{
  float: left;
  width: 350px;
  height: 630px;
  background-color: white;
  margin-left: 120px;
}

.month{
  float: left;
  width: 350px;
  height: 630px;
  background-color: white;
  margin-left: 40px;
}

.two-month{
  float: left;
  width: 350px;
  height: 630px;
  background-color: white;
  margin-left: 40px;
}

.plan-month{
  background-color: #00ced1;
  width: 310px;
  height: 120px;
  margin-top: 30px;
  display: inline-block;
}

.plan-month h2{
  color: white;
  padding-top: 30px;
}

.mentor p{
	text-align: center;
	margin-bottom: 40px;
	display: block;
}


.item-message{
	padding-top: 20px;
  padding-bottom: 10px;
	line-height: 25px;
  padding-left: 200px;
  width: 1200px;
  font-size: 18px;
  text-align: center;
}

.item p{
  color: #696969;
}

.mentor{
	background-color: white;
	height: 550px;
}

.mentor h2{
  text-align: center;
  padding-top: 50px;
  margin-bottom: 30px;
}

.carousel-inner img{
	border-radius: 50%;
	margin: 0 auto;
  width: 200px;

}

.carousel{
  height: 400px;
}

.carousel-indicators li {
  background-color: #999 !important;
  background-color: rgba(70,70,70,.25) !important;
}

.carousel-indicators .active {
  background-color: #444 !important;
}
.mentor-facebook{
     background-image: url(images/backgrounds/night_view.jpg);
     height: 370px;
     background-size: cover;
     
}

.background-facebook{
	height: 370px;
	background-color:rgba(0,0,0,0.6);
}

.facebook{
	text-align: center;
	padding-top: 155px;
	z-index: 2;
	color: white;
}

.column-wrapper{
  padding-top: 15px;
}
.column {
	background-color: #f7f7f7;
	height: 1500px;
}

.column-head{
  margin-top: -50px;
  padding-top: 60px;
  text-align: center;
  color: #696969;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}

.column-top-btn {
    margin-left: 450px;
    font-size: 15px;
    font-weight: bold;
    height: 90px;
    margin-bottom: -20px;
}

.column-top-btn li{
	float: left;
	margin-right: 15px;
	padding: 10px 20px;
}

.column-list{
    color: black;
    background-color: white;
    transition: all 0.5s;
}
.column-list:hover{
	color: white;
	background-color: #00ced1;
	cursor: pointer;
}

.active-active{
    color: white;
    background-color: #00ced1; 
}

.column-contents{
    width: 480px;
    height: 350px;
    background-color: white;
    margin-left: 180px;
    margin-top: 25px;
    text-align: center;
    float: left;
}

.image-wrapper{
  margin-top: 5px;
  margin-left: 5px;
  width: 470px;
  height: 260px;
  overflow: hidden;
  position: relative;
}

.column-background{
  background-color: rgba(0,0,0,0.6);
  width: 470px;
  height: 260px;
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
  display: none;

}

.column-contents img,.column-contents-right img{
  width: 470px;
  height: 260px;
  transition: all 0.5s ease;
}

.column-text{
	  font-size: 18px;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    transition: 0.5s;
}

.column-text:hover{
    color: #00ced1;
    cursor: pointer;
}

.column-contents p,.column-contents-right p{
     font-size: 16px;
}

.column-contents-right{
    width: 480px;
    height: 350px;
    background-color: white;
    margin-left: 30px;
    margin-top: 25px;
    text-align: center;
    float: left;
}

.column-bottom{
     color: white;
     background-color: #1f3134;
     padding: 15px 20px;
     margin-left: 625px;
     clear: left;
     width: 110px;
     height: 50px;
     margin-top: 50px;
     display: inline-block;
     opacity: 0.9;
     transition: 0.5s;
     cursor: pointer;
}

.column-bottom:hover{
     opacity: 0.8;
}

.information{
  background-image: url(images/backgrounds/contact.jpg);
	background-size: cover;
	height: 700px;
}

.information-background{
	background-color: rgba(0,0,0,0.6);
	height: 700px;
}

.info{
  margin-top: -50px;
  padding-top: 60px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}

.message-send-form{
	width: 680px;
	height: 560px;
	margin-left: 100px;
	float: left;
}

.message-send{
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 0px;
    margin-bottom: 20px;
}

.error-message{
  margin: 0;
  color: white;
  display: none;
}

#mail{
    color: white;
    width: 600px;
    height: 50px;
    background-color: rgba(105,100,100,0.8);
    border: none;
    margin-bottom: 20px;
}

#subjuct{
	color: white;
    width: 600px;
    height: 50px;
    background-color: rgba(105,100,100,0.8);
    border: none;
    margin-bottom: 20px;
}

#message{
	color: white;
    width: 600px;
    height: 200px;
    background-color: rgba(105,100,100,0.8);
    border: none;
    margin-bottom: 40px;
}

.info-btn{
    color:white;
    background-color: #00ced1; 
    padding: 20px 35px;
    width: 120px
}

.info-btn:hover{
    cursor: pointer;
}
.about-us{
	float: left;
	color: white;
	width: 470px;
}

.aboutus-address{
	color: white;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

.idea{
	margin-bottom: 20px;
	line-height: 25px;
}

.office{
	margin-bottom: 30px;
}

.phone{
	padding-left: 15px;
}

.sns{
	text-align: center;
	height: 210px;
    background-color: white;
    padding-top: 50px;
    margin-bottom: 40px;
   color: black;
}

.bottom{
    color: #1f3134;
    padding-top: 30px;
    text-align: center;
    transition: 0.5s;
}
.bottom:hover{
    cursor: pointer;
    color: #00ced1; 
}
.fa-facebook{
	padding-right: 10px;
  position: relative;
}

.fa-facebook a{
  display:block;
  width: 100%;
  height: 100%;
  position:absolute;
  left:0;
  top:0;
}

.fa-twitter{
	padding-left: 10px;
  position: relative;
} 

.fa-twitter a{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}


footer{
	height: 90px;
	background-color: black;
	text-align: center;
	padding-top: 40px;
	color: #696969;
	opacity: 0.9;
	font-weight: 100;
}