body{
margin: 0;
}

li{
 list-style: none;
}


header{
	height: 50px;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #b3aeb5;
	position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;

}

.header-left{
	float: left;
	padding-left: 90px;
	padding-top: 10px;
}

.header-left h4{
    font-weight: 600;
    cursor: pointer;
}

.header-left h4:hover{
	color: #00ced1;
}

.header-right{
	float: right;
	padding-right: 60px;
	line-height: 50px;
	margin-right: 40px;
 }

.header-right li{
	float: left; 
	padding-right: 20px;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.3px;
    cursor: pointer;
}

.header-right li:hover{
	color: #00ced1;
}

.top-wrapper{
	background-image: url(images/images/backgrounds/top.jpg);
	background-size: cover;
	height: 550px;
    text-align: center;
    position: relative;
}

.background{
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0,0,0,0.6);
}

.message h3{
	padding-top: 175px;
	color: white;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 20px;
    z-index: 2;
}

.message p{
	color: white;
    font-size: 18px;
    margin-bottom: 50px;
    z-index: 2;
}

.btn-more{
	color: white;
    opacity: 0.7;
    padding: 20px 20px;
    width: 120px;
    margin-left: 600px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-more:hover{
    opacity: 1;
    border: 1.5px solid white;
    color: white;
}

.language{
    height: 740px;
    text-align: center;
}

.language img{
    margin-bottom: 10px
}

.language h5{
	margin-bottom: 20px;
}

.language-head{
	padding-top: 40px;
	padding-bottom: 30px;
	letter-spacing: 2px;
}

.html{
     float: left;
     padding-left: 280px;
}	

.js{
	float: left;
	padding-left: 140px;	
}

.language-bottom{
    height: 100px;
    background-color: red;
}

.jquery{
    float:  left;
    padding-left: 205px;
    padding-top: 50px;
}

.git{
	float: left;
	padding-left: 40px;
	padding-top: 50px;
}

.future-head{
	background-color: #f7f7f7;
	height: 350px;
	padding-top: 30px;
	text-align: center;
}

.future-txtcontents{
	background-color: white;
	height: 400px;
}

.fast{
   float: left;
   padding-top: 120px;
   padding-left: 210px;
   width: 630px;
}

.second{
   float: right;
   padding-right: 210px;
   padding-top: 120px;
   width: 670px;
}

.third{
   float: left;
   padding-top: 20px;
   padding-left: 210px;
   width: 630px;
 }

.fourth{
   float: right;
   padding-right: 210px;
   padding-top: 20px;
   width: 670px;
}

.course{
	background-color: #f7f7f7;
	height: 880px;
	text-align: center;
	padding-top: 60px;
}

.course h2{
	padding-bottom: 40px;	
}

.course li{
	padding: 20px 0px;
	border-bottom: 1px solid #b3aeb5;
}

.plan{
  background-color: #1f3134;
  width: 310px;
  height: 120px;
  margin-top: 30px;
  display: inline-block;
  
}
.plan h2{
  color: white;
  padding-top: 30px;
}

.money{
 background-color: #f7f7f7;
 width: 310px;
 height: 120px;
 display: inline-block;
}

.money h2{
padding-top: 30px;
}

.course-list{
   display: inline-block;
   padding: 20px 50px 30px 0px;
   margin-top: 10px;
   width: 350px;
 
}

.course-btn{
   padding: 6px 20px;
   background-color: #1f3134;
   display: inline-block;
   opacity: 0.9;
}

.course-btn:hover{
	opacity: 0.8;
}

.course-btn h4{
   font-weight: 900; 
   color: white;
}

.week{
  float: left;
  width: 350px;
  height: 630px;
  background-color: white;
  margin-left: 120px;
}

.month{
  float: left;
  width: 350px;
  height: 630px;
  background-color: white;
  margin-left: 40px;
}

.two-month{
  float: left;
  width: 350px;
  height: 630px;
  background-color: white;
  margin-left: 40px;
}

.plan-month{
  background-color: #00ced1;
  width: 310px;
  height: 120px;
  margin-top: 30px;
  display: inline-block;
}

.plan-month h2{
  color: white;
  padding-top: 30px;
}

.mantors p{
	text-align: center;
	margin-bottom: 40px;
	display: block;
}


.mantors h4{
	text-align: center;
	padding-top: 10px;
	line-height: 25px;
	display: block;
}
.mentor{
	background-color: white;
	height: 1585px
}

.mentor h2{
	padding-top: 60px;
	text-align: center;
}

.mentor img{
	border-radius: 50%;
	display: block;
    margin: 0 auto;
    height: 200px;
}

.mantor-facebook{
     background-image: url(images/images/backgrounds/night_view.jpg);
     height: 370px;
     background-size: cover;
     
}

.background-facebook{
    z-index: 1;
	height: 370px;
	background-color:rgba(0,0,0,0.6);
}

.facebook{
	text-align: center;
	padding-top: 155px;
	z-index: 2;
	color: white;
}

.column {
	background-color: #f7f7f7;
	height: 1500px;
}

.column h1{
	text-align: center;
	padding-top: 70px;
	padding-bottom: 30px;
}

.column-top-btn {
    margin-left: 450px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    height: 90px;
    margin-bottom: -20px;
}

.column-top-btn li{
	float: left;
	margin-right: 15px;
	padding: 10px 20px;
}

.btn-white{
    background-color: white;
}
.btn-white:hover{
	color: white;
	background-color: #00ced1;
	cursor: pointer;
}

.show-all{
    color: white;
    background-color: #00ced1; 
}

.column-contents{
    width: 480px;
    height: 350px;
    background-color: white;
    margin-left: 180px;
    margin-top: 25px;
    text-align: center;
    float: left;
}

.column-contents img{
	margin-top: 5px;
	width: 470px;
    height: 260px;
}
.column-contents div{
	font-size: 18px;
    font-weight: bold;
    color: black;
    padding-top: 20px;
}

.column-contents p{
     font-size: 16px;
}

.column-contents-right{
    width: 480px;
    height: 350px;
    background-color: white;
    margin-left: 30px;
    margin-top: 25px;
    text-align: center;
    float: left;
}

.column-contents-right img{
	margin-top: 5px;
	width: 470px;
    height: 260px;
}
.column-contents-right div{
	font-size: 18px;
    font-weight: bold;
    color: black;
    padding-top: 20px;

}

.column-contents-right p{
     font-size: 16px;
}

.column-contents div:hover{
     color: #00ced1;
     cursor: pointer;
}

.column-contents-right div:hover{
     color: #00ced1;
     cursor: pointer;
}

.column-bottom{
     color: white;
     background-color: #1f3134;
     margin-left: 625px;
     clear: left;
     width: 100px;
     height: 40px;
     padding-top: 10px;
     padding-left: 15px;
     letter-spacing: 0.1px;
     font-weight: bold;
     display: inline-block;
     margin-top: 50px;
     opacity: 0.9;
}

.column-bottom:hover{
     opacity: 0.8;
}

.information{
	background-image: url(images/images/backgrounds/contact.jpg);
	background-size: cover;
	height: 700px;
}

.information h1{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	color: white;
    margin: 0 auto;
}

.information-background{
	background-color: rgba(0,0,0,0.6);
	height: 700px;
}

.message-send-form{
	width: 680px;
	height: 560px;
	margin-left: 100px;
	float: left;
}

.message-send{
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 0px;
    margin-bottom: 20px;
}

#mail{
    color: white;
    width: 600px;
    height: 50px;
    background-color: rgba(105,100,100,0.8);
    border: none;
    margin-bottom: 20px;
}

#subjuct{
	color: white;
    width: 600px;
    height: 50px;
    background-color: rgba(105,100,100,0.8);
    border: none;
    margin-bottom: 20px;
}

#message{
	color: white;
    width: 600px;
    height: 200px;
    background-color: rgba(105,100,100,0.8);
    border: none;
    margin-bottom: 40px;
}

.info-btn{
    color:white;
    background-color: #00ced1; 
    padding: 20px 35px;
    width: 120px
}

.info-btn:hover{
    cursor: pointer;
}
.about-us{
	float: left;
	color: white;
	width: 470px;
}

.aboutus-address{
	color: white;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

.idea{
	margin-bottom: 20px;
	line-height: 25px;
}

.office{
	margin-bottom: 30px;
}

.phone{
	padding-left: 15px;
}

.sns{
	text-align: center;
	height: 210px;
    background-color: white;
    padding-top: 50px;
    margin-bottom: 40px;

}

.bottom{
    color: #1f3134;
    padding-top: 30px;
    text-align: center;
    transition: 0.5s;
}
.bottom:hover{
    cursor: pointer;
    color: #00ced1; 
}
.fa-facebook{
	padding-right: 10px;
}

.fa-twitter{
	padding-left: 10px;
} 


footer{
	height: 90px;
	background-color: black;
	text-align: center;
	padding-top: 40px;
	color: white;
	opacity: 0.9;
	font-weight: 100;
}