body{
margin: 0;
}

li{
 list-style: none;
}


header{
	height: 50px;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #b3aeb5;
	position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;

}

.header-left{
	float: left;
	padding-left: 90px;
	padding-top: 10px;
}

.header-left h4{
    font-weight: 600;
    cursor: pointer;
}

.header-left h4:hover{
	color: #00ced1;
}

.header-right{
	float: right;
	padding-right: 60px;
	line-height: 50px;
	margin-right: 40px;
 }

.header-right li{
	float: left; 
	padding-right: 20px;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.3px;
    cursor: pointer;
}

.header-right li:hover{
	color: #00ced1;
}

.top-wrapper{
	background-image: url(images/images/backgrounds/top.jpg);
	background-size: cover;
	height: 550px;
    text-align: center;
    position: relative;
}

.background{
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0,0,0,0.6);
}

.message h3{
	padding-top: 175px;
	color: white;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 20px;
    z-index: 2;
}

.message p{
	color: white;
    font-size: 18px;
    margin-bottom: 50px;
    z-index: 2;
}

.btn-more{
	color: white;
    opacity: 0.7;
    padding: 20px 20px;
    width: 120px;
    margin-left: 600px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-more:hover{
    opacity: 1;
    border: 1.5px solid white;
    color: white;
}

.language{
    height: 740px;
    text-align: center;
}

.language img{
    margin-bottom: 10px
}

.language h5{
	margin-bottom: 20px;
}

.language-head{
	padding-top: 40px;
	padding-bottom: 30px;
	letter-spacing: 2px;
}

.html{
     float: left;
     padding-left: 280px;
}	

.js{
	float: left;
	padding-left: 140px;	
}

.language-bottom{
    height: 100px;
    background-color: red;
}

.jquery{
    float:  left;
    padding-left: 205px;
    padding-top: 50px;
}

.git{
	float: left;
	padding-left: 40px;
	padding-top: 50px;
}

.future-head{
	background-color: #f7f7f7;
	height: 350px;
	padding-top: 30px;
	text-align: center;
}

.future-txtcontents{
	background-color: white;
	height: 400px;
}

.fast{
   float: left;
   padding-top: 120px;
   padding-left: 210px;
   width: 630px;
}

.second{
   float: right;
   padding-right: 210px;
   padding-top: 120px;
   width: 670px;
}

.third{
   float: left;
   padding-top: 20px;
   padding-left: 210px;
   width: 630px;
 }

.fourth{
   float: right;
   padding-right: 210px;
   padding-top: 20px;
   width: 670px;
}

.course{
	background-color: #f7f7f7;
	height: 880px;
	text-align: center;
	padding-top: 60px;
}

.course h2{
	padding-bottom: 40px;	
}

.course li{
	padding: 20px 0px;
	border-bottom: 1px solid #b3aeb5;
}

.plan{
  background-color: #1f3134;
  width: 310px;
  height: 120px;
  margin-top: 30px;
  display: inline-block;
  
}
.plan h2{
  color: white;
  padding-top: 30px;
}

.money{
 background-color: #f7f7f7;
 width: 310px;
 height: 120px;
 display: inline-block;
}

.money h2{
padding-top: 30px;
}

.course-list{
   display: inline-block;
   padding: 20px 50px 30px 0px;
   margin-top: 10px;
   width: 350px;
 
}

.course-btn{
   padding: 6px 20px;
   background-color: #1f3134;
   display: inline-block;
   opacity: 0.9;
}

.course-btn:hover{
	opacity: 0.8;
}

.course-btn h4{
   font-weight: 900; 
   color: white;
}

.week{
  float: left;
  width: 350px;
  height: 630px;
  background-color: white;
  margin-left: 120px;
}

.month{
  float: left;
  width: 350px;
  height: 630px;
  background-color: white;
  margin-left: 40px;
}

.two-month{
  float: left;
  width: 350px;
  height: 630px;
  background-color: white;
  margin-left: 40px;
}

.plan-month{
  background-color: #00ced1;
  width: 310px;
  height: 120px;
  margin-top: 30px;
  display: inline-block;
}

.plan-month h2{
  color: white;
  padding-top: 30px;
}

.mantors p{
	text-align: center;
	margin-bottom: 40px;
}

.mantors h4{
	text-align: center;
	padding-top: 10px;
	line-height: 25px;
}
.mentor{
	background-color: white;
	height: 1000px
}

.mentor h2{
	padding-top: 60px;
	text-align: center;
}

.mentor img{
	border-radius: 50%;
	display: block;
    margin: 0 auto;
    height: 200px;
}

.mantor-facebook{
     background-image: url(images/images/backgrounds/night_view.jpg);
     height: 370px;
     background-size: cover;
     position: relative;
}

.background-facebook{
    z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0,0,0,0.6);
}

.facebook{
	text-align: center;
	padding-top: 185px;
	z-index: 2;
	color: white;
}